.code-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #040019;
}
.code-about {
  color: #8976ff;
  width: auto;
  height: auto;
  font-size: 3.5em;
  align-self: flex-start;
  font-style: normal;
  margin-top: 25px;
  font-weight: 900;
  margin-left: 25px;
  margin-bottom: 25px;
}
.code-container1 {
  flex: 0 0 auto;
  width: 75%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.code-text {
  color: rgb(239, 236, 255);
  width: 100%;
  height: 100%;
  text-align: left;
}
.code-image {
  width: 200px;
  object-fit: cover;
  padding-left: 15px;
}
.code-container2 {
  flex: 0 0 auto;
  width: 75%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.code-image1 {
  width: 200px;
  object-fit: cover;
  padding-left: 0px;
  padding-right: 15px;
}
.code-text26 {
  color: rgb(239, 236, 255);
  width: 100%;
  height: 100%;
  text-align: left;
}
@media(max-width: 479px) {
  .code-container {
    background-color: #040019;
  }
  .code-text {
    color: rgb(239, 236, 255);
  }
  .code-text26 {
    color: rgb(239, 236, 255);
  }
}
