.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #040019;
}
.index-hello {
  color: #8976FF;
  width: auto;
  height: auto;
  font-size: 3.5em;
  align-self: flex-start;
  font-style: normal;
  margin-top: 25px;
  font-weight: 900;
  margin-left: 25px;
}
.index-navlink {
  display: contents;
}
.index-about {
  color: rgb(239, 236, 255);
  align-self: flex-start;
  font-style: normal;
  margin-top: 15px;
  font-weight: 600;
  margin-left: 25px;
  text-decoration: none;
}
.index-navlink1 {
  display: contents;
}
.index-interests {
  color: rgb(239, 236, 255);
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
  margin-left: 25px;
  text-decoration: none;
}
.index-navlink2 {
  display: contents;
}
.index-projects {
  color: rgb(239, 236, 255);
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
  margin-left: 25px;
  text-decoration: none;
}
.index-link {
  display: contents;
}
.index-contact {
  color: rgb(239, 236, 255);
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
  margin-left: 25px;
  text-decoration: none;
}
.index-img {
  flex: 1;
  width: 415px;
  filter: saturate(0.45);
  height: 492px;
  transform: scaleX(-1);
  align-self: flex-end;
  object-fit: cover;
}
@media(max-width: 991px) {
  .index-img {
    height: 661px;
  }
}
